@use "mixin" as *

@include hnpx(250)
@include hnpx(700)


aside
    .nav
        .nav-link.active
            border-bottom: 3px solid #3c79b1

.t50px
    top: 50px

.h300px
    height: 300px

main
    min-height: 1500px